<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Editar Usuários</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/estilo.css" >
    <script type="application/javascript" src="../../assets/js/jQuery/jquery-2.1.1.min.js"></script>
    <script type="application/javascript" src="../../assets/js/funcoes/editar_usuario.js"></script>
    <script type="application/javascript" src="../../assets/js/funcoes/atualizar.js"></script>
  
    
</head>
<body>
<ul>
    <a href="listar_usuario.html"><li>Listar Usuários</li></a>
    <a href="cadastrar_usuario.html"><li>Novo Usuário</li></a>

</ul>

<form class="form-horizontal" role="form" id="editar-usuario">


</form>

<div class='form-group'>
					<div class='col-sm-offset-2 col-sm-10'>
					<button type='button' id='atualizar-usuario' class='btn btn-default'>Atualizar </button>
					</div>
					</div>
</body>
</html>