<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Listar Usuários</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/estilo.css" >
    <script type="application/javascript" src="../../assets/js/jQuery/jquery-2.1.1.min.js"></script>
    <script type="application/javascript" src="../../assets/js/funcoes/listar_usuario.js"></script>
    <script type="application/javascript" src="../../assets/js/funcoes/excluir_usuario.js"></script>
    <script type="application/javascript" src="../../assets/js/funcoes/buscar_usuario.js"></script>
    
    
</head>
<body>
<ul>

<a href="cadastrar_usuario.html"><li>Novo Usuário</li></a>

</ul>

<div class="table-responsive">
<table class="table table-bordered " id="listar-usuarios" >
    <thead>

    <tr>
        <td>ID</td>
        <td>Nome</td>
        <td>Email</td>
        <td>Senha</td>
        <td>Status</td>
        <td>Ação</td>
   </tr>
    </thead>
    <tbody>
    
    </tbody>

</table>

</div>


</body>
</html>