<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Index</title>
<link rel="stylesheet" href="../../assets/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
<link rel="stylesheet" href="../../assets/css/estilo.css">
<script type="application/javascript" src="../../assets/js/jQuery/jquery-2.1.1.min.js"></script>
</head>
<body>

<section class="navbar-header">

<ul>
   <a href="../crud/cadastrar_usuario.html"> <li class="navbar">Cadastrar</li></a>
   <a href="../crud/listar_usuario.html"><li class="navbar">Listar Usuários</li></a>

</ul>

</section>
</body>
</html>